body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  gap: 1rem;
  width: 28rem;
}

.card {
  width: 50rem;
  height: 4rem;
}

.data {
  width: 100%;
  height: 100%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

.task, .button {
  width: 50%;
}

.button {
  display: flex;
  justify-content: flex-end;
}